@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url(roboto-fontface/Roboto-Light.woff2) format('woff2'),
        url(roboto-fontface/Roboto-Light.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url(roboto-fontface/Roboto-Medium.woff2) format('woff2'),
        url(roboto-fontface/Roboto-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url(roboto-fontface/Roboto-Bold.woff2) format('woff2'),
        url(roboto-fontface/Roboto-Bold.woff) format('woff');
}

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

:root {
    --bgc-sidebar: #008bc2;
    --bgc-searchbar: #e2eaf1;
    --bgc-button: #008bc2;
    --bgc-main-section: #e2eaf1;
    --bgc-cards: #ffffff;
    --bgc-cards-first-region-pseudoelement: #f5b745;

    --font-color-light: #f5f5f5;
    --font-color-medium: #595959;
    --font-color-dark: #000000;

    --font-family: 'Roboto';

    --box-shadow-light-color: #ffffff;
    --box-shadow-dark-color: #b3bbc3;
}

html,
body {
    height: 100%;

    font-family: var(--font-family);
}

.main-grid {
    height: 100%;

    display: grid;
    grid-template-columns: 1.5fr 6fr;
    grid-template-rows: 1.5fr 6fr;
}


/* --------------- Rules regarding the HEADER ------------------- */
.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding: 0em 2.5em 0.8em;
}

.header img {
    width: 1em;

    font-size: 1.5em;

    filter: invert(0%) sepia(94%) saturate(40%) hue-rotate(320deg) brightness(110%) contrast(100%);
}


/* Rules regarding the search-region in HEADER, up-left cell of the header grid */
.search-region {
    display: flex;
    align-items: center;
    gap: 1em;
}

.search-bar {
    flex-grow: 1;

    border-radius: 1em;
    padding: 0.8em;

    background-color: var(--bgc-searchbar);
}


/* Rules regarding the user-notification-region in HEADER, up-right cell of the header grid */
.user-notification-region {
    justify-self: end;

    display: flex;
    align-items: center;
    gap: 1.5em;

    font-weight: 700;
    font-size: 1rem;
}

.user-notification-region img:nth-of-type(2) {
    width: 1em;

    font-size: 3em;

    filter: none;
}


/* Rules regarding the user-name-region in HEADER, bottom-left cell of the header grid */
.user-name-region {
    display: flex;
    align-items: center;
    gap: 1em;
}

.user-name-region img {
    width: 1em;

    font-size: 4em;

    filter: none;
}

.user-name-region .user-name {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    font-weight: 700;
    font-size: 1.5rem;
}

.user-name-region .user-name::before {
    content: 'Hi there,';

    font-weight: 700;
    font-size: 0.8rem;
}


/* Rules regarding the buttons-region in HEADER, bottom-right cell of the header grid */
.buttons-region {
    justify-self: end;

    display: flex;
    align-items: center;
    gap: 1.5em;
}

.buttons-region .button {
    display: flex;
    justify-content: center;

    width: 0;

    border-radius: 1.5em;
    padding: 0.6em 3em;

    font-weight: 500;
    font-size: 1rem;

    color: var(--font-color-light);
    background-color: var(--bgc-button);
}
/* ------------------ end of the HEADER rules ------------------- */




/* ------------------ Rules regarding the SIDEBAR --------------------- */
.sidebar {
    display: grid;
    grid-template-rows: 0.3fr 1fr 3fr;
    gap: 4em;
    grid-area: 1 / 1 / 3 / 2;

    padding: 1em 5em 1em 1em;

    color: var(--font-color-light);
    background-color: var(--bgc-sidebar);
}

.sidebar img {
    height: 1em;
    width: 1em;

    filter: invert(100%) sepia(77%) saturate(31%) hue-rotate(219deg) brightness(117%) contrast(92%);
}

.sidebar div {
    align-self: start;

    display: flex;
    align-items: center;
    gap: 0.3em;

    font-size: 1.5rem;
}

.sidebar div img {
    font-size: 3.5rem;
}

ul {
    display: grid;
    align-self: start;
    gap: 1.3em;

    padding-left: 1em;
}

ul:first-of-type {
    grid-template-rows: repeat(6, min-content);
    margin-top: -1.2em;
}

ul:last-of-type {
    grid-template-rows: repeat(3, min-content);
}

li {
    display: flex;
    align-items: center;
    gap: 1.3em;

    font-weight: 700;
    font-size: 1.1rem;

    letter-spacing: 0.04em;

    list-style: none;
}

li img {
    font-size: 1.5rem;
}
/* ------------------ end of the SIDEBAR rules ------------------- */




/* ------------------ Rules regarding the MAIN --------------------- */
.main {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    gap: 1.5em;

    padding: 2.5em 1.5em 3em;

    background-color: var(--bgc-main-section);

    box-shadow: inset 0px 3px 6px 0px var(--box-shadow-dark-color),
        inset -1px 0px 70px 0px var(--box-shadow-light-color);
}

.cards-first-region,
.cards-section-first-region,
.cards-second-region,
.announcements,
.trending {
    display: grid;
}

.cards-first-region,
.announcements,
.trending {
    grid-template-rows: min-content 1fr;
    gap: 0.6em;
}

.cards-section-first-region {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5em;
}

.cards-second-region {
    grid-template-rows: 1fr 1fr;
    gap: 2.5em;
}

.cards-first-region .card::before {
    content: '';
    width: 2%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    border-top-left-radius: 0.6em;
    border-bottom-left-radius: 0.6em;

    background-color: var(--bgc-cards-first-region-pseudoelement);

    transform: rotate(360deg);
}

.icons {
    align-self: flex-end;

    display: flex;
    gap: 2em;
}

.card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 0.6em;
    padding: 2em;

    background-color: var(--bgc-cards);
    box-shadow: 4px 4px 3px 1px var(--box-shadow-dark-color);
}

.text {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    font-weight: 300;

    color: var(--font-color-medium);
}


/* From here, the rules regarding the 'Announcements' section */
.announcements .text {
    font-size: 0.8rem;
}

.announcements .text:first-child,
.announcements .text:nth-child(3) {
    padding-bottom: 2em;
}

.announcements .text:nth-child(3) {
    padding-top: 2em;
}

.announcements .text:nth-child(5) {
    border-bottom: 1px solid #ffffff;
    padding-top: 2em;
}

.announcements .separator::before {
    display: block;
    content: '';
    width: 100%;
    height: 0.5px;

    background-color: var(--font-color-medium);
}
/* -------------------------------------------------------- */


/* From here, the rules regarding the 'Trending' section*/
.trending .card {
    padding: 1.5em;
}

.users {
    display: flex;
    align-items: center;
    gap: 2em;
}

.users .text {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    font-weight: 500;
    font-size: 0.9rem;

    color: var(--font-color-dark);
}

.users p {
    font-weight: 300;
    font-size: 1rem;

    color: var(--font-color-medium);
}
/* ------------------------------------------------------------ */



/* These are the rules for the icons in the main section. The first one is for the icons
in the 'Your Projects' section. The second one is for the icons in the 'Trending' section */
.icons img {
    width: 1em;

    font-size: 1.5em;
}

.users img {
    width: 1em;

    font-size: 3em;
}
/* ------------------ end of the MAIN rules ------------------- */
